<div class="px-5">
  <h2 class="text-3xl text-primary mb-4">All Upcoming Events</h2>

  <div class="grid row-gap-4 column-gap-3">
    <div
      class="col-12 surface-card border-round-xl border-2 surface-border shadow-1 p-4 hover:border-primary smooth-transition cursor-pointer"
      *ngFor="let event of userEvents"
      (click)="openEventDialog(event.EventId)"
    >
      <div class="text-xl text-primary font-semibold mb-2 flex align-items-center gap-2">
        <i class="pi pi-calendar"></i> {{ event.Name }}
      </div>

      <div class="grid text-sm text-color-secondary">
        <div class="col-12 md:col-4">
          <span class="text-primary font-medium">Date:</span>
          {{ event.EventDate | date: 'mediumDate' }}
        </div>
        <div class="col-12 md:col-4">
          <span class="text-primary font-medium">Location:</span>
          {{ event.Location }}
        </div>
        <div class="col-12 md:col-4">
          <span class="text-primary font-medium">Status:</span>
          {{ event.Status }}
        </div>
        <div class="col-12 mt-2">
          <span class="text-primary font-medium">Hosted By:</span>
          {{ event.ClubName }}
        </div>
      </div>
    </div>
  </div>
</div>
