
<div class="grid justify-content-center align-items-center bg-primary-400" style="height: 100vh;">
  <div class="lg:col-5 md:col-7 xl:col-3 sm:col-10 card surface-card border-round-lg p-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum cum provident aspernatur atque laborum quos vero aliquid expedita distinctio quis inventore placeat ducimus optio totam autem accusamus nihil laudantium animi, recusandae ex adipisci unde tenetur itaque voluptas. Enim earum perspiciatis omnis, reiciendis, repellat fugit, accusantium itaque consequatur voluptatum distinctio ducimus.
  </div>
</div>


