<div class="grid h-screen grid-nogutter" style="background-image: url('ClubSync.png'); background-size: cover; background-position: center;">
  <div class="col-12">
    <div class="grid h-screen grid-nogutter bg-black-alpha-50">
      <div class="col-2 bg-black-alpha-40">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-10 border-round-top-left border-white-alpha-20 border-left-3">
        <div class="grid justify-content-end pt-4 pr-4">
            <p-button icon="pi pi-user" [rounded]="true" [outlined]="true" size="large" severity="primary"/>
        </div>
      </div>
    </div>
  </div>
</div>
