<div class="px-5 min-h-screen flex justify-content-center align-items-center z-2">
  <div class="border-1 surface-border bg-black-alpha-70 border-round py-7 px-4 md:px-7 z-1">

      <div class="mb-4">
          <div class="text-900 text-xl font-bold mb-3">{{signup ? 'Sign Up' : 'Log in'}}</div>
          <span class="text-600 font-medium">Please enter your details</span>
      </div>

      @if (signup) {
        <div class="flex flex-column gap-5">

          <!-- First Name -->
          <span class="p-input-icon-left w-full ">
            <p-floatlabel>
              <input pInputText id="firstName" [(ngModel)]="userSignup.FirstName" class="w-full md:w-25rem" autocomplete="off" />
              <label for="firstName">First Name</label>
            </p-floatlabel>
          </span>

          <!-- Last Name -->
          <span class="p-input-icon-left w-full ">
            <p-floatlabel>
              <input pInputText id="lastName" [(ngModel)]="userSignup.LastName" class="w-full md:w-25rem" autocomplete="off" />
              <label for="lastName">Last Name</label>
            </p-floatlabel>
          </span>

          <!-- Email -->
          <span class="p-input-icon-left w-full ">
            <p-floatlabel>
              <input pInputText id="email" [(ngModel)]="userSignup.Email" class="w-full md:w-25rem" type="email" autocomplete="off" />
              <label for="email">Email</label>
            </p-floatlabel>
          </span>

          <!-- Password -->
          <span class="p-input-icon-left w-full ">
            <p-floatlabel>
              <input pInputText id="password" [(ngModel)]="userSignup.Password" class="w-full md:w-25rem" type="password" autocomplete="off" />
              <label for="password">Password</label>
            </p-floatlabel>
          </span>

          <!-- University Autocomplete with Virtual Scroll -->
        <span class="w-full ">
          <p-floatlabel>
            <p-autocomplete
              inputId="university"
              [(ngModel)]="selectedUniversity"
              [suggestions]="filteredUniversities"
              [virtualScroll]="true"
              [virtualScrollItemSize]="34"
              [dropdown]="true"
              optionLabel="UniversityName"
              (completeMethod)="filterItems($event)"
              styleClass="w-full"
            />
            <label for="university">University</label>
          </p-floatlabel>
        </span>


          <!-- Already have an account? -->
          <div class=" flex flex-wrap gap-2 align-items-center">
            <span>Already have an account?</span>
            <a class="text-primary font-medium cursor-pointer hover:underline ml-auto" (click)="switchToLogin()">Log in</a>
          </div>

          <!-- Submit Button -->
          <p-button
            label="Sign Up"
            variant="outlined"
            styleClass="w-full"
            severity="primary"
            [size]="'large'"
            (onClick)="registerUser()">
          </p-button>
        </div>
      }

      @else {
        <div class="flex flex-column">

          <span class="p-input-icon-left w-full mb-4">
            <p-floatlabel variant="on">
              <input pInputText id="email" [(ngModel)]="userLogin.Email" autocomplete="off" class="w-full md:w-25rem" type="email"/>
              <label for="email">Email</label>
            </p-floatlabel>
          </span>

          <span class="p-input-icon-left w-full mb-4">
            <p-floatlabel variant="on">
              <input pInputText id="password" [(ngModel)]="userLogin.Password" autocomplete="off" class="w-full md:w-25rem" type="password"/>
              <label for="password">Password</label>
            </p-floatlabel>
          </span>

          <div class="mb-4 flex flex-wrap gap-3">
              <div>
                  Do not have an account?
              </div>
              <a class="text-600 cursor-pointer hover:text-primary cursor-pointer ml-auto transition-colors transition-duration-300" (click)="switchToSignup()">Sign up</a>
          </div>

          <p-button label="Log in" variant="outlined" styleClass="w-full" severity="primary" [size]="'large'" (onClick)="loginUser()"/>

        </div>
      }

  </div>
</div>


