<div class="px-5 min-h-screen flex justify-content-center align-items-center z-2">
  <div class="border-1 surface-border bg-black-alpha-70 border-round py-7 px-4 md:px-7 z-1">

      <div class="mb-4">
          <div class="text-900 text-xl font-bold mb-2">{{signup ? 'Sign Up' : 'Log in'}}</div>
          <span class="text-600 font-medium">Please enter your details</span>
      </div>

      @if (signup) {
        <div class="flex flex-column">

          <span class="p-input-icon-left w-full mb-4">
            <p-floatlabel variant="on">
              <input pInputText id="email" [(ngModel)]="email" autocomplete="off" class="w-full md:w-25rem" type="email"/>
              <label for="email">Email</label>
            </p-floatlabel>
          </span>

          <span class="p-input-icon-left w-full mb-4">
            <p-floatlabel variant="on">
              <input pInputText id="username" [(ngModel)]="username" autocomplete="off" class="w-full md:w-25rem"/>
              <label for="username">Username</label>
            </p-floatlabel>
          </span>

          <span class="p-input-icon-left w-full mb-4">
            <p-floatlabel variant="on">
              <input pInputText id="password" [(ngModel)]="password" autocomplete="off" class="w-full md:w-25rem" type="password"/>
              <label for="password">Password</label>
            </p-floatlabel>
          </span>

          <div class="mb-4 flex flex-wrap gap-3">
              <div>
                  Already have an account?
              </div>
              <a class="text-600 cursor-pointer hover:text-primary cursor-pointer ml-auto transition-colors transition-duration-300" (click)="switchToLogin()">Log in</a>
          </div>

          <p-button label="Sign up" variant="outlined" styleClass="w-full" severity="primary" [size]="'large'" (onClick)="route()"/>

        </div>
      }

      @else {
        <div class="flex flex-column">

          <span class="p-input-icon-left w-full mb-4">
            <p-floatlabel variant="on">
              <input pInputText id="username" [(ngModel)]="username" autocomplete="off" class="w-full md:w-25rem"/>
              <label for="username">Username</label>
            </p-floatlabel>
          </span>

          <span class="p-input-icon-left w-full mb-4">
            <p-floatlabel variant="on">
              <input pInputText id="password" [(ngModel)]="password" autocomplete="off" class="w-full md:w-25rem" type="password"/>
              <label for="password">Password</label>
            </p-floatlabel>
          </span>

          <div class="mb-4 flex flex-wrap gap-3">
              <div>
                  Do not have an account?
              </div>
              <a class="text-600 cursor-pointer hover:text-primary cursor-pointer ml-auto transition-colors transition-duration-300" (click)="switchToSignup()">Sign up</a>
          </div>

          <p-button label="Log in" variant="outlined" styleClass="w-full" severity="primary" [size]="'large'" (onClick)="route()"/>

        </div>
      }

  </div>
</div>


