<div class="grid px-4 row-gap-4">

  <div class="col-12 text-5xl text-center">
    Greetings, <span class="text-primary">{{userName}}!</span>
  </div>

  <div class="col-12 p-4 border-round-3xl border-2 border surface-border bg-black-alpha-40">
    <div class="grid">

      <div class="col-12 text-xl">
        <i class="pi pi-chevron-right text-primary"></i> Your Clubs
        <p-divider />
      </div>

      <div class="col-12">
        <div class="grid column-gap-3">

          <div class="card bg-white-alpha-10 surface-border smooth-transition border-1 border-round-lg text-primary text-2xl hover:bg-white-alpha-20 cursor-pointer col-3 justify" >
            <span>Club 1</span>
          </div>

          <div class="card bg-white-alpha-10 surface-border border-1 border-round-lg text-primary text-2xl hover:bg-white-alpha-20 cursor-pointer col-3">
            <span>Club 1</span>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
